HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/target/classes/application.properties
/target/classes/application-dev.properties
/target/classes/application-prd.properties
/target/test-classes/classpath.index
/target/classes/org/pysz/questy/service/CsvExportService.class
/target/classes/org/pysz/questy/rest/QuestionController.class
/target/classes/org/pysz/questy/service/QuestionPoller.class
/target/classes/org/pysz/questy/model/Questions$QuestionItem.class
/target/classes/org/pysz/questy/model/Questions.class
/target/classes/org/pysz/questy/service/QuestionService.class
/target/classes/org/pysz/questy/persistnce/QuestionTrace.class
/target/classes/org/pysz/questy/persistnce/QuestionTraceRepository.class
/target/classes/org/pysz/questy/service/QuestionTraceService.class
/target/classes/org/pysz/questy/QuestyApplication.class
/target/test-classes/org/pysz/questy/QuestyApplicationTests.class
/target/classes/org/pysz/questy/QuestyConfiguration.class
/target/classes/org/pysz/questy/service/ResponseUnZipper.class
/target/test-classes/org/pysz/questy/Test.class
/src/main/test.json
/target/classes/org/pysz/questy/model/htmlgrid/ColumnDefinition.class
/target/classes/static/gridjs/index.html
/target/classes/static/index.html
/target/classes/static/gridjs/index.js
/target/classes/static/index.js
/target/classes/static/dist/js/jquery_wrapper.js
/target/classes/org/pysz/questy/persistnce/QuestionInfo$QuestionInfoBuilder.class
/target/classes/org/pysz/questy/persistnce/QuestionInfo.class
/target/classes/org/pysz/questy/persistnce/QuestionInfoRepository.class
/target/classes/org/pysz/questy/service/QuestionInfoService.class
/target/classes/org/pysz/questy/model/QuestionStats.class
/target/classes/static/t.json
/target/classes/static/dist/css/tabulator.css
/target/classes/static/dist/css/tabulator.css.map
/target/classes/static/dist/js/tabulator.js
/target/classes/static/dist/js/tabulator.js.map
/target/classes/static/dist/css/tabulator.min.css
/target/classes/static/dist/css/tabulator.min.css.map
/target/classes/static/dist/js/tabulator.min.js
/target/classes/static/dist/js/tabulator.min.js.map
/target/classes/static/dist/css/tabulator_bootstrap3.css
/target/classes/static/dist/css/tabulator_bootstrap3.css.map
/target/classes/static/dist/css/tabulator_bootstrap3.min.css
/target/classes/static/dist/css/tabulator_bootstrap3.min.css.map
/target/classes/static/dist/css/tabulator_bootstrap4.css
/target/classes/static/dist/css/tabulator_bootstrap4.css.map
/target/classes/static/dist/css/tabulator_bootstrap4.min.css
/target/classes/static/dist/css/tabulator_bootstrap4.min.css.map
/target/classes/static/dist/css/tabulator_bootstrap5.css
/target/classes/static/dist/css/tabulator_bootstrap5.css.map
/target/classes/static/dist/css/tabulator_bootstrap5.min.css
/target/classes/static/dist/css/tabulator_bootstrap5.min.css.map
/target/classes/static/dist/css/tabulator_bulma.css
/target/classes/static/dist/css/tabulator_bulma.css.map
/target/classes/static/dist/css/tabulator_bulma.min.css
/target/classes/static/dist/css/tabulator_bulma.min.css.map
/target/classes/static/dist/js/tabulator_esm.js
/target/classes/static/dist/js/tabulator_esm.js.map
/target/classes/static/dist/js/tabulator_esm.min.js
/target/classes/static/dist/js/tabulator_esm.min.js.map
/target/classes/static/dist/css/tabulator_materialize.css
/target/classes/static/dist/css/tabulator_materialize.css.map
/target/classes/static/dist/css/tabulator_materialize.min.css
/target/classes/static/dist/css/tabulator_materialize.min.css.map
/target/classes/static/dist/css/tabulator_midnight.css
/target/classes/static/dist/css/tabulator_midnight.css.map
/target/classes/static/dist/css/tabulator_midnight.min.css
/target/classes/static/dist/css/tabulator_midnight.min.css.map
/target/classes/static/dist/css/tabulator_modern.css
/target/classes/static/dist/css/tabulator_modern.css.map
/target/classes/static/dist/css/tabulator_modern.min.css
/target/classes/static/dist/css/tabulator_modern.min.css.map
/target/classes/static/dist/css/tabulator_semanticui.css
/target/classes/static/dist/css/tabulator_semanticui.css.map
/target/classes/static/dist/css/tabulator_semanticui.min.css
/target/classes/static/dist/css/tabulator_semanticui.min.css.map
/target/classes/static/dist/css/tabulator_simple.css
/target/classes/static/dist/css/tabulator_simple.css.map
/target/classes/static/dist/css/tabulator_simple.min.css
/target/classes/static/dist/css/tabulator_simple.min.css.map
/target/classes/static/dist/css/tabulator_site.css
/target/classes/static/dist/css/tabulator_site.css.map
/target/classes/static/dist/css/tabulator_site.min.css
/target/classes/static/dist/css/tabulator_site.min.css.map
